<?xml version="1.0" encoding="UTF-8"?>
<gpx
  version="1.0"
  creator="vboxread"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.topografix.com/GPX/1/0"
  xsi:schemaLocation="http://www.topografix.com/GPX/1/0 http://www.topografix.com/GPX/1/0/gpx.xsd">
<time>{{vboxdata.creation_date.strftime('%Y-%m-%dT%H:%M:%SZ')}}</time>
<bounds minlat="{{vboxdata.min_lat}}" minlon="{{vboxdata.min_long}}" maxlat="{{vboxdata.max_lat}}" maxlon="{{vboxdata.max_long}}"/>
<trk>
  <trkseg>
    {% for p in vboxdata.data %}
    <trkpt lat="{{p.lat}}" lon="{{p.long}}">
      <ele>{{p.height}}</ele>
      <time>{{p.datetime.strftime('%Y-%m-%dT%H:%M:%SZ')}}</time>
      <course>{{p.heading}}</course>
      <speed>{{p.velocity}}</speed>
      <sat>{{p.sats}}</sat>
    </trkpt>
    {% endfor %}
  </trkseg>
</trk>
</gpx>
